/Attr.class
/Call.class
/Copy.class
/Cut.class
/Entity.class
/Insert.class
/Instruction.class
/Param.class
/Paste.class
/Print.class
/Regexp.class
/Remove.class
/Rename.class
/Replace.class
/Uncomment.class
/XmlTask$InputBuffer.class
/XmlTask$InputFile.class
/XmlTask$InputProperty.class
/XmlTask$InputSpec.class
/XmlTask$LocalEntityResolver.class
/XmlTask.class
