/Action.class
/AnonymousCallAction.class
/AttrAction.class
/BufferStore.class
/CallAction.class
/CopyAction.class
/CutAction.class
/InsertAction$Position.class
/InsertAction.class
/PasteAction.class
/PrintAction.class
/RegexpAction.class
/RemovalAction.class
/RenameAction.class
/TextAction.class
/UncommentAction.class
/XPathAnalyser.class
/XPathAnalyserClient.class
/XPathAnalyserFactory.class
/XmlAction.class
/XmlReplace.class
/XmlReplacement.class
